.cus_blockquote{
  border-left: 6px solid #2C3E50;
  font-family: 'tahoma';
  border-radius:6px;
  background-color: #F0F0F0;
  margin-bottom: 10px;
  margin-top: 30px;
}
.row .cus_blockquote:first-child{
  margin-top: 0;
}

.ancreAfficherTout{
  font-size:18px;
  padding:3px 10px;
  border-radius: 5px;
}
.ancreAfficherTout:hover{
  text-decoration: none;
  color:white;
}

.bouton{
    /*display: inline-block;*/
    margin-right : 5px;
    margin-top:0px;
    /* padding : à l'interieur du bloc, margin : a l'exterieur du bloc */
}
blockquote .bouton:first-child{
    margin-left : 10px;
    /* padding : à l'interieur du bloc, margin : a l'exterieur du bloc */
}
#message{
  resize: vertical;
}




#search_form {
  /*background-color : #18BC9C;*/
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
}
#search_form input {
  border:none;
  border-bottom:2px solid #18BC9C;
}
#search_form span {
  color:#18BC9C;
}
#search_bar{
  outline:none;
  width:100%;
}




.sprite{
  width:48px;
  height:48px;
  display:inline-block;
  background-image: url('../img/icones.png');
}

.facebook{
  background-position: -48px 0;
}
.facebook:hover{
  background-position: -48px -48px;
}
.twitter{
  background-position: -144px 0;
}
.twitter:hover{
  background-position: -144px -48px;
}


.alert{
  padding:10px;
}
