.cus_blockquote{

  font-family: 'tahoma';
  border: px solid black;
  border-radius:6px;
  background-color: #F0F0F0;
}
.bouton{
    display: inblock;
    margin-right : 3px;
    /* padding : à l'interieur du bloc, margin : a l'exterieur du bloc */
}
#message{
  resize: vertical;
}
#search_bar{
  margin-bottom: 20px;

}
header{
  /*background-color: #FB8721;*/



}
